@charset "UTF-8";
a {    color: #757575;
    text-decoration: none;
}
*{
	margin: 0;
	padding: 0;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.site-topbar {
    position: relative;
    z-index: 30;
    height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    background: #333;
}
.container {
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}
.site-topbar .topbar-nav {
    float: left;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}
.site-topbar a {
    color: #b0b0b0;
}
.container:before, .container:after {
    content: " ";
    display: table;
}
.site-topbar .topbar-cart {
    width: 120px;
    margin-left: 15px;
}
.site-topbar .topbar-cart, .site-topbar .topbar-info {
    position: relative;
    float: right;
    height: 40px;
}
.site-topbar .cart-mini {
    position: relative;
    z-index: 32;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #b0b0b0;
    background: #424242;
}
.site-topbar .cart-mini-num {
    margin-left: -4px;
}
.site-topbar .topbar-info {
    line-height: 40px;
}
.site-topbar .sep {
    margin: 0 .5em;
    color: #424242;
}
.sep, .ndash {
    font-family: sans-serif;
}
.site-header {
    position: relative;
    z-index: 20;
    height: 100px;
}
.site-header .container {
    position: relative;
}
.container:before, .container:after {
    content: " ";
    display: table;
}
.container:after {
    clear: both;
}
.site-header .header-logo {
    float: left;
    width: 62px;
    margin-top: 22px;
}
.site-header .logo {
    position: relative;
    display: block;
    width: 55px;
    height: 55px;
    overflow: hidden;
    background-color: #ff6700;
}
.ir {

    text-align: left;
    text-indent: -9999em;
   

}

.site-header .header-nav {
    float: left;
    width: 850px;
}
.site-header .nav-list {
    position: relative;
    z-index: 10;
    float: left;
    width: 820px;
    height: 88px;
    margin: 0;
    padding: 12px 0 0 30px;
    list-style-type: none;
    font-size: 16px;
}
.clearfix {
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.site-header .nav-category {
    position: relative;
    float: left;
    width: 127px;
    padding-right: 15px;
}
.site-header .nav-category .link-category {
  
}


.site-header .nav-category .link-category {
    display: block;
    padding: 26px 0 38px;
    text-align: right;
    color: #333;
}
.site-category-list .children-list .link {
    display: block;
    padding: 18px 20px;
    line-height: 40px;
    color: #333;
    transition: color .2s;
}
/*全部分类*/
.site-category {
    display: none;
    position: absolute;
    top: 88px;
    left: -92px;
    z-index: 21;
    width: 234px;
    height: 460px;
    font-size: 14px;
}
.site-category-list {
    height: 420px;
    border: 0;
    color: #fff;
  
    background: rgba(0,0,0,0.6);
  
}

.site-category-list {
    margin: 0;
    padding: 20px 0;
    list-style-type: none;
   
}

.clearfix {
}
.site-category-list .title {
    color: #fff;
}


.site-category-list .title {
    position: relative;
    display: block;
    padding-left: 30px;
    height: 42px;
    line-height: 42px;
  
}
.site-header .nav-item .link {
    display: block;
    padding: 26px 10px 38px;
    color: #333;
}
.site-header .nav-item .item-children {
    display: none;
}
.site-category-list .children-col-3 {
    width: 795px;
}

.site-category-list .children-list li {
    position: relative;
    float: left;
    width: 265px;
    height: 76px;
}
.site-category-list .children {
    display: none;
    position: absolute;
    left: 234px;
    top: 0;
    z-index: 24;
    height: 458px;
    border: 1px solid #e0e0e0;
    border-left: 0;
    background: #fff;
    box-shadow: 0 8px 16px rgba(0,0,0,0.18);
}

.clearfix {
}
.site-category-list .children-list-col {
    float: left;
    width: 265px;
}


.site-category-list .children-list {
    height: 458px;
    margin: 0;
    padding: 2px 0;
    list-style-type: none;
}




.site-category-list .children-list .text {
    line-height: 40px;
}
.site-header .nav-item {
    float: left;
}
.site-header .header-search {
    float: right;
    width: 296px;
    margin-top: 25px;
}
.site-header .search-form {
    position: relative;
    width: 296px;
    height: 50px;
}


.clearfix {
}
.site-header .search-text {
    position: absolute;
    top: 0;
    right: 51px;
    z-index: 1;
    width: 223px;
    height: 50px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    line-height: 48px;
    outline: 0;
    transition: all .2s;
}
.site-header .search-btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 52px;
    height: 50px;
    border: 1px solid #e0e0e0;
    font-size: 24px;
    line-height: 24px;
    background: #fff;
    color: #616161;
    outline: 0;
    transition: all .2s;
    cursor: pointer;
}
.site-header .search-hot-words {
    position: absolute;
    top: 14px;
    right: 62px;
    z-index: 2;
    text-align: right;
}
.site-header .search-hot-words a {
    display: inline-block;
    margin-left: 5px;
    padding: 0 5px;
    font-size: 12px;
    background: #eee;
    color: #757575;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.site-header .search-hot-words a {
    display: inline-block;
    margin-left: 5px;
    padding: 0 5px;
    font-size: 12px;
    background: #eee;
    color: #757575;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.site-header .search-form .keyword-list {
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 20;
    width: 243px;
    border: 1px solid #ff6700;
    border-top: 0;
    background: #fff;
}
	.site-header .logo:before {
    background: url(../mall_img/Y-logo.png) no-repeat 50% 50%;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}


.site-header .logo:before, .site-header .logo:after {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 55px;
    height: 55px;
    content: '';

    transform-origin: 50% 50%;

    transition: all .2s;
}

.hide {
    display: none !important;
}
.site-header .search-form .keyword-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.clearfix:after {
    clear: both;
}
.hover{
	background:#ff6700 ;
	color: #fff;
}
.site-topbar .user-menu {
    position: absolute;
    left: 0;
    top: 40px;
    z-index: 3;
    width: 120px;
    margin: 0;
    padding: 7px 0;
    list-style-type: none;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}
.site-topbar .user-menu a {
    display: block;
    padding: 3px 30px;
    line-height: 2;
}
.user-menu li:hover{ background-color:gray; 
                      color:red;}
.user{
	cursor: pointer;
}
.site-category-list .children-list .thumb {
    margin-right: 12px;
    vertical-align: middle;
    width: 40px;
    heiight: 40px;
}